<p>
	<mat-toolbar color="primary">
		<button mat-icon-button class="example-icon" (click)="onToggleSidenav()"
			aria-label="Example icon-button with menu icon">
			<mat-icon>menu</mat-icon>
		</button>
		<span>Book Library</span>
		<span class="example-spacer"></span>
		<ng-container *ngIf="user$ | async as user; else loginIcon">
			<app-user [user]="user" (logoutClick)="logout()">
			</app-user>
		</ng-container>
		<ng-template #loginIcon>
			<button mat-button routerLink="/login">
				Login/Register
			</button>
		</ng-template>
	</mat-toolbar>
</p>