<button mat-mini-fab color="primary" [matMenuTriggerFor]="beforeMenu">
	<img [alt]="user.displayName" [src]="user.photoURL" class="avatar" *ngIf="user.photoURL; else imageReplace" />
	<ng-template #imageReplace>
		<img [alt]="user.displayName" src="./assets/emptyavatar.jpg" class="avatar" />
	</ng-template>
</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
	<div class="profile-card">
		<img [alt]="user.displayName" [src]="user.photoURL" class="big-avatar" *ngIf="user.photoURL; else avatar"/>
		<ng-template #avatar>
			<img [alt]="user.displayName" src="./assets/emptyavatar.jpg" class="avatar" />
		</ng-template>
		<h4>{{ user.displayName }}</h4>
		<p>{{ user.email }}</p>
		<mat-divider></mat-divider>
		<button mat-stroked-button (click)="logout()">
			Sign Out
		</button>
		<mat-divider></mat-divider>
		<p class="profile-footer">
			Made by <a href="https://github.com/tranquanghuy0801">Harry Tran</a>
		</p>
	</div>
</mat-menu>